/*https://www.w3schools.com/colors/colors_shades.asp*/
body {
  background-color: #303030;
  color: white;
  margin: 90px;
}

.poster {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.headers {
  font-size: 30px;
}

.copyright {
  font-size: 10px;
}

/* https://www.w3schools.com/HOWTO/howto_css_circles.asp */
.dot1 {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  
  animation-name: DotChange1;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dot2 {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  
  animation-name: DotChange2;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dot3 {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  
  animation-name: DotChange3;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dot4 {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  
  animation-name: DotChange4;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dot5 {
  height: 3px;
  width: 3px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  
  animation-name: DotChange5;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dot6 {
  height: 1px;
  width: 1px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  
  animation-name: DotChange6;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dot7 {
  height: 0px;
  width: 0px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  
  animation-name: DotChange7;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 30px;
  max-height: 600px;
  height: 100%;
}


@media (max-width: 680px) {
  .gallery {
    grid-template-columns: repeat(9, 1fr);
  }
}


@media (max-width: 660px) {
  .gallery {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 640px) {
  .gallery {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 620px) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 580px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 560px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 540px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 520px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}